<%= erb :_header, :locals => { :title => "Dashboard"} %>

<div class="span3">
  <h2> My Series </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @my_series.each do |item| %>
        <tr>
          <td> <%= item.name %> </td>
          <td>
            <a href="/remove-subscription?id=<%= item.id %>" ><i class="icon-minus"></i></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= erb :_footer %>