<%= erb :_header, :locals => { :title => "Reminders"} %>

<div class="span8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User Details</th>
      </tr>
    </thead>
    
    <tbody>
        <tr>
          <td>Email</td>
           <td> <%= @user.email %> </td>
        </tr>
    </tbody>
  </table>
</div>

<%= erb :_footer %>